/* Geovana Araújo de jesus 2-c*/

@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/contato.css");
@import url("styles/header.css");
@import url("styles/rodapé.css");
@import url("styles/topicos.css");



body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
